@use 'variables' as *;

// Flexbox mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Transition mixin
@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: $transition-normal;
  transition-timing-function: ease;
}

// Card style mixin
@mixin card {
  background-color: hsl(var(--card));
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
}

// Button reset mixin
@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

// Responsive mixins
@mixin mobile {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-md) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

.element-card {
  @include card;
}